<template>
    <div class="modal fade m-buy" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="m-buy-cross" data-dismiss="modal" aria-label="Close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="../assets/icons/cross.svg" alt="cross">
                    </button>
                </div>
                <div v-if="mode === 0" class="m-buy-body">
                    <div class="m-buy-head">
                        {{l.consultation}}
                    </div>
                    <div class="m-buy-input-items">
                        <div class="m-buy-input-item">
                            <div class="m-buy-input">
                                <input v-model="name" type="text" required>
                                <span class="bar"></span>
                                <label>
                                    {{l.enterName}}
                                </label>
                                <div v-if="errors.name" class="m-buy-error">
                                    {{l.name}}
                                </div>
                            </div>
                        </div>
                        <div class="m-buy-input-item">
                            <div class="m-buy-input">
                                <input v-model="phone" type="text" required>
                                <span class="bar"></span>
                                <label>
                                    {{l.phone}}
                                </label>
                                <div v-if="errors.phone" class="m-buy-error">
                                    {{l.enterPhone}}
                                </div>
                                <div v-if="errors.phoneValid" class="m-buy-error">
                                    {{l.enterValidPhone}}
                                </div>
                            </div>
                        </div>
                        <div class="m-buy-input-item">
                            <div class="m-buy-input">
                                <input v-model="email" type="text" required>
                                <span class="bar"></span>
                                <label>Email</label>
                                <div v-if="errors.email" class="m-buy-error">
                                    {{l.enterEmail}}
                                </div>
                                <div v-if="errors.emailValid" class="m-buy-error">
                                    {{l.enterValidEmail}}
                                </div>
                            </div>
                        </div>
                        <div class="m-buy-input-item">
                            <div class="m-buy-textarea">
                                <textarea v-model="description" required rows="3"></textarea>
                                <span class="bar"></span>
                                <label>
                                    {{l.addinfo}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div @click="preludeSend()" class="m-buy-send" :class="{'m-buy-loader_show': this.loading}">
                        {{l.get}}
                        <div class="m-buy-loader">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                    <div class="m-buy-error_main">
                        <div v-if="errors.common" class="m-buy-error">
                            {{l.er}}
                        </div>
                    </div>

                    <div class="m-buy-epitaph">
                        {{l.press}}
                    </div>
                    <div @click="setMode(1)" class="m-buy-conf-btn">
                        {{l.conf}}
                    </div>
                </div>
                <div v-if="mode === 1" class="m-buy-body">
                    <div class="m-buy-head m-buy-head_conf">
                        {{l.conf}}
                    </div>
                    <div class="m-buy-conf-items">
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.cladding}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['facing'][+select['facing']].name}}
                                <span v-if="data['facing'][+select['facing']].index === 0">
                                    / {{data['plasticMain'][+select['plasticMain']].name}}
                                </span>
                                <span v-if="data['facing'][+select['facing']].index === 1">
                                    / {{data['veneer'][+select['veneer']].name}}
                                </span>
                                <span v-if="data['facing'][+select['facing']].index === 2">
                                    / {{data['cloth'][+select['cloth']].name}}
                                </span>
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.frame}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{color[+select['frame']].name}}
                            </div>
                        </div>

                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.grillOut}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{color[+select['grillOut']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.interior}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['interior'][+select['interior']].name}}
                                <span v-if="data['interior'][+select['interior']].index === 0">
                                    / {{data['cloth'][+select['cloth']].name}}
                                </span>
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.table}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['table'][+select['table']].name}}
                                <span v-if="data['table'][+select['table']].index === 0">
                                    / {{data['plasticTable'][+select['plasticTable']].name}}
                                </span>
                                <span v-if="data['table'][+select['table']].index === 1">
                                    / {{color[+select['tableColor']].name}}
                                </span>
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.bracketTable}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{color[+select['bracketTable']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.chair}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['chair'][+select['chair']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.doorstep}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{color[+select['doorstep']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.grillIn}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{color[+select['grillIn']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.glass}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['glass'][+select['glass']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.door}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['doorlock'][+select['doorlock']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.speak}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['speak'][+select['speak']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                {{l.charger}}
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['charger'][+select['charger']].name}}
                            </div>
                        </div>
                        <div class="m-buy-conf-item">
                            <div class="m-buy-conf-name">
                                Smart glass
                            </div>
                            <div class="m-buy-conf-value">
                                {{data['smartglass'][+select['smartglass']].name}}
                            </div>
                        </div>
                    </div>
                    <div class="m-buy-cost-box">
                        <div class="m-buy-cost">
                            {{l.cost}}: {{totalCost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽*
                        </div>
                        <div class="m-buy-add">
                            {{l.add}}: {{(+totalCost - +totalCostDef).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
                        </div>
                    </div>
                    <div @click="setMode(0)" class="m-buy-send">
                        {{l.right}}
                    </div>
                    <div class="m-buy-epitaph">
                        {{l.offer}}
                    </div>
                </div>
                <div v-if="mode === 2" class="m-buy-body">
                    <div class="m-buy-head m-buy-head_done">
                        {{l.ordersend}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import { domain, token } from '../globalVariables'

export default {
    props: {
        data: Object,
        select: Object,
        selectDef: Object,
        points: Array,
        colorPoints: Array,
        color: Array,
        totalCost: Number,
        totalCostDef: Number,
        l: Object,
    },
    data: () => ({
        mode: 0,
        name: '',
        email: '',
        phone: '',
        description: '',
        errors: {},
        loading: false
    }),
    methods: {
        setMode (i) {
            this.mode = i
        },
        errorCheck () {
            this.errors = {}
            if (this.email === '') {
                this.errors = { ...this.errors, email: true}
            } else if (
                !/^[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/.test(this.email)
            ) {
                this.errors = { ...this.errors, emailValid: true}
            }
            if (this.phone === '') {
                this.errors = { ...this.errors, phone: true}
            } else if (
                !/^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){6,14}(\s*)?$/.test(this.phone)
            ) {
                this.errors = { ...this.errors, phoneValid: true}
            }
            if (this.name === '') {
                this.errors = { ...this.errors, name: true}
            }
            for (let key in this.errors) {
                return false
            }
            return true
        },
        sendSuccess () {
            this.email = ''
            this.phone = ''
            this.name = ''
            this.setMode(2)
        },
        async preludeSend () {
            if (this.errorCheck()) {
                this.loading = true
                const select = this.select
                const data = this.data
                const color = this.color

                // console.log('send', this.data, this.select)
                //
                // if (data['facing'][+select['facing']].index === 0) {
                //     console.log('facing', data['plasticMain'][+select['plasticMain']].name)
                // } else if (data['facing'][+select['facing']].index === 1) {
                //     console.log('facing', data['veneer'][+select['veneer']].name)
                // } if (data['facing'][+select['facing']].index === 2) {
                //     console.log('facing', data['cloth'][+select['cloth']].name)
                // }
                // console.log('frame', color[+select['frame']].name)
                // console.log('externallattice', color[+select['grillOut']].name)
                // if (data['interior'][+select['interior']].index === 0) {
                //     console.log('internalfinishing', data['cloth'][+select['cloth']].name)
                // } else {
                //     console.log('internalfinishing', data['interior'][+select['interior']].name)
                // }
                // if (data['table'][+select['table']].index === 0) {
                //     console.log('coveringtable', data['plasticTable'][+select['plasticTable']].name)
                // } else if (data['table'][+select['table']].index === 1) {
                //     console.log('coveringtable', color[+select['tableColor']].name)
                // } else if (data['table'][+select['table']].index === 2) {
                //     console.log('coveringtable', data['table'][+select['table']].name)
                // }
                // console.log('brackettable', color[+select['bracketTable']].name)
                // console.log('chair', data['chair'][+select['chair']].name)
                // console.log('threshold', color[+select['doorstep']].name)
                // console.log('lattice', color[+select['grillIn']].name)
                // console.log('glass', data['glass'][+select['glass']].name)
                // console.log('door', data['doorlock'][+select['doorlock']].name)
                // console.log('speakerphone', data['speak'][+select['speak']].name)
                // console.log('charger', data['charger'][+select['charger']].name)
                // console.log('smartglass', data['smartglass'][+select['smartglass']].name)



                const fd = new FormData()
                if (data['facing'][+select['facing']].index === 0) {
                    fd.append('facing', data['plasticMain'][+select['plasticMain']].name)
                } else if (data['facing'][+select['facing']].index === 1) {
                    fd.append('facing', data['veneer'][+select['veneer']].name)
                } if (data['facing'][+select['facing']].index === 2) {
                    fd.append('facing', data['cloth'][+select['cloth']].name)
                }
                fd.append('doorframe', color[+select['frame']].name)
                fd.append('externallattice', color[+select['grillOut']].name)
                if (data['interior'][+select['interior']].index === 0) {
                    fd.append('internalfinishing', data['cloth'][+select['cloth']].name)
                } else {
                    fd.append('internalfinishing', data['interior'][+select['interior']].name)
                }
                if (data['table'][+select['table']].index === 0) {
                    fd.append('coveringtable', data['plasticTable'][+select['plasticTable']].name)
                } else if (data['table'][+select['table']].index === 1) {
                    fd.append('coveringtable', color[+select['tableColor']].name)
                } else if (data['table'][+select['table']].index === 2) {
                    fd.append('coveringtable', data['table'][+select['table']].name)
                }
                fd.append('brackettable', color[+select['bracketTable']].name)
                fd.append('chair', data['chair'][+select['chair']].name)
                fd.append('threshold', color[+select['doorstep']].name)
                fd.append('lattice', color[+select['grillIn']].name)
                fd.append('glass', data['glass'][+select['glass']].name)
                fd.append('door', data['doorlock'][+select['doorlock']].name)
                fd.append('speakerphone', data['speak'][+select['speak']].name)
                fd.append('wirelesscharger', data['charger'][+select['charger']].name)
                fd.append('smartglass', data['smartglass'][+select['smartglass']].name)
                fd.append('token', token)

                fd.append('name', this.name)
                fd.append('phone', this.phone)
                fd.append('email', this.email)
                fd.append('price', this.totalCost)
                fd.append('other', this.description)
                if (this.description !== '') fd.append('other', this.description)
                else fd.append('other', 'нет комментария')

                await axios({
                    method: 'post',
                    url: `${domain}/amocrm/lead`,
                    data: fd,
                })
                    .then(response => {
                        this.loading = false
                        this.sendSuccess()
                    })
                .catch(response => {
                    this.loading = false
                    this.errors = { common: true }
                })
            }
        }
    },
    mounted() {
        $('#buyModal').on('hidden.bs.modal', () => {
            this.errors = {}
            this.setMode(0)
        })
    }
}
</script>
