<template>
    <div v-if="data !== null" class="dev-items">


<!--        {{select}}-->
<!--        <div class="d-block">-->
<!--            <div class="d-block" v-for="item in points">-->
<!--                {{data[item][+select[item]]['cost']}}-->
<!--            </div>-->
<!--            <div class="d-block" v-for="item in points">-->
<!--                {{data[item][+selectDef[item]]['cost']}}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            {{mainCost}}-->
<!--        </div>-->

<!--        <div :style="{'background': rgbToHex(color[select['exterior']].value)}">-->
<!--            'exterior' {{color[select['exterior']].name}}-->
<!--        </div>-->
<!--        <DevTableItem v-for="item in points" :name="item" :data="data[item]" :select="select" :selectDef="selectDef" />-->
    </div>
</template>
<script>
import DevTableItem from "./DevTableItem";
export default {
    components: {
        DevTableItem
    },
    props: {
        data: Object,
        select: Object,
        selectDef: Object,
        points: Array,
        colorPoints: Array,
        color: Array,
        mainCost: Number
    },
    methods: {
        componentToHex(c) {
            let hex = c.toString(16);
            return hex.length === 1 ? "0" + hex : hex;
        },
        rgbToHex(value) {
            let newValue = value.split(' ')
            return "#" + ((1 << 24) + (+this.componentToHex(newValue[0]) << 16)
                + (+this.componentToHex(newValue[1]) << 8)
                + +this.componentToHex(newValue[2])).toString(16).slice(1);
        }
    }
}
</script>
