<template>
    <div class="dev-item">
        <div class="dev-title">
            {{name}}
        </div>
        <div class="dev-grid-row dev-grid-row__header">
            <div class="dev-grid-row__item">
                Index
            </div>
            <div class="dev-grid-row__item">
                Key
            </div>
            <div class="dev-grid-row__item">
                Name
            </div>
            <div class="dev-grid-row__item">
                Cost
            </div>
        </div>
        <div v-for="(item, i) in data"
             class="dev-grid-row"
             :class="[activeClass(item.index), activeDef(item.index)]">
            <div class="dev-grid-row__item">
                {{item.index}}
            </div>
            <div class="dev-grid-row__item">
                {{item.id}}
            </div>
            <div class="dev-grid-row__item">
                {{item.name}}
            </div>
            <div class="dev-grid-row__item">
                {{item.cost}}
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        select: Object,
        selectDef: Object,
        data: Array,
        name: String
    },
    computed: {
    },
    methods: {
        activeClass (i) {
            return {'dev-grid-row_active': this.select[this.name] === i}
        },
        activeDef (i) {
            return {'dev-grid-row_def': this.selectDef[this.name] === i}
        }
    }
}
</script>
