<template>
    <div class="dropdown show">
        <div v-if="isHaveImg" class="dropdown-toggle set-dropdown-toggle" role="button"
             :id="`dropdown_${valueName}`" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <img v-if="isHaveImg" class="dropdown-toggle-icon"
                 :src="`./texturesIcon/${valueData[select[valueName]].id}.png`" alt="icon">
            <div class="dropdown__arrow">
                <img src="../assets/icons/arrow.svg" alt="img">
            </div>
        </div>
        <div v-else class="dropdown-toggle set-dropdown-toggle" role="button"
             :id="`dropdown_${valueName}`" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <div class="set-dropdown-toggle__text">
                {{valueData[select[valueName]].name}}
            </div>
            <div class="dropdown__arrow">
                <img src="../assets/icons/arrow.svg" alt="img">
            </div>
        </div>
        <div class="set-dropdown-menu dropdown-menu"
             :class="dropdownClass"
             :aria-labelledby="`dropdown_${valueName}`">
            <div v-for="(item, i) in valueData"
                 @click="selectValue(valueName, i)"
                 :id="item.id" class="dropdown-item"
                 :class="{'dropdown-item_active':select[valueName] === i}">
                <div class="dropdown-item__main">
                    <img v-if="isHaveImg" class="dropdown-texture"
                         :src="`./texturesIcon/${item.id}.png`" alt="icon">
                    <div class="dropdown-item__name">
                        {{item.name}}
                    </div>
<!--                    <div>-->
<!--                        {{select[valueName] === i}}-->
<!--                    </div>-->
                </div>
                <div v-if="item.cost !== 0" class="dropdown-item__cost">
                    + {{item.cost}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        valueName: String,
        valueData: Array,
        select: Object,
        haveImg: Array,
        ex: {
            default: false,
            type: Boolean
        }
    },
    data: () => ({
        docWidth: 0,
    }),
    computed: {
        isHaveImg: ({haveImg, valueName}) => (haveImg.indexOf(valueName) !== -1),
        dropdownClass: function () {
            if (this.docWidth <= 768 && this.ex) {
                return 'dropdown-menu-left'
            } else {
                return 'dropdown-menu-right'
            }
        }
    },
    methods: {
        selectValue (a, b) {
            this.$emit('selectValue', a, b)
        },
        setDocWidth () {
            this.docWidth = document.documentElement.clientWidth
        },
    },
    mounted() {
        this.setDocWidth()
        window.addEventListener('resize', () => {
            this.setDocWidth()
        })
    }
}
</script>
