<template>
    <div class="dropdown show">
        <div class="dropdown-toggle-icon__body dropdown-toggle"
             role="button"
             :id="`dropdown_${valueName}`" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
        >
            <div class="dropdown-toggle-icon"
                 :style="{'background': rgbToHex(color[select[valueName]].value)}"
            ></div>
            <div class="dropdown__arrow">
                <img src="../assets/icons/arrow.svg" alt="img">
            </div>
        </div>
        <div class="dropdown-color dropdown-menu dropdown-menu-right"
             :aria-labelledby="`dropdown_${valueName}`">
            <div class="dropdown-color__body">
                <div v-for="(item, i) in color"
                     class="dropdown-color-item"
                     :class="{'dropdown-color-item_active':select[valueName] === i}"
                     :style="{'background': rgbToHex(item.value)}"
                     @click="selectValue(valueName, i, dataColor[valueName].main)"
                >
                </div>
            </div>
        </div>
        <div class="d-none">
            <div :id="dataColor[valueName].main"></div>
            <input v-model="color[select[valueName]].value.split(' ')[0]" type="text"
                   :id="dataColor[valueName].r">
            <input v-model="color[select[valueName]].value.split(' ')[1]" type="text"
                   :id="dataColor[valueName].g">
            <input v-model="color[select[valueName]].value.split(' ')[2]" type="text"
                   :id="dataColor[valueName].b">
        </div>
    </div>
</template>
<script>
export default {
    props: {
        color: Array,
        valueName: String,
        dataColor: Object,
        select: Object
    },
    methods: {
        componentToHex(c) {
            let hex = c.toString(16);
            return hex.length === 1 ? "0" + hex : hex;
        },
        rgbToHex(value) {
            let newValue = value.split(' ')
            return "#" + ((1 << 24) + (+this.componentToHex(newValue[0]) << 16)
                + (+this.componentToHex(newValue[1]) << 8)
                + +this.componentToHex(newValue[2])).toString(16).slice(1);
        },
        selectValue (a, b, id) {
            this.$emit('selectValue', a, b, id)
        }
    }
}
</script>
