<template>
    <div id="app">
        <v-app id="inspire">
            <div class="soul">
                <div @click="menuToggle(0)" id="container" class="scene">
                </div>
                <Dev v-if="0"
                     :data="data"
                     :color="color"
                     :points="points"
                     :colorPoints="colorPoints"
                     :select="select"
                     :selectDef="selectDef"
                     :mainCost="mainCost"
                     :l="l"
                />
                <div v-if="data !== null" class="header">
                    <div class="header-item">
                        <a class="header-link" href="https://qubius.com">
                            <div class="header-line"></div>
                            <div class="header-back">
                                {{l.return}}
                            </div>
                        </a>
                    </div>
                    <div class="header-item header-borgar" @click="menuToggle()">
                        <img src="./assets/icons/borger.svg" alt="icon">
                    </div>
                </div>
                <div class="btn-box">
                    <div id="open_door" class="btn-box__item">
                        <img src="./assets/icons/door.svg" alt="icon">
                    </div>
                    <div id="default" @click="dropToDef()" class="btn-box__item">
                        <img src="./assets/icons/def.svg" alt="icon">
                    </div>
                </div>
                <BuyModal v-if="data !== null"
                          :l="l"
                          :data="data"
                          :color="color"
                          :points="points"
                          :colorPoints="colorPoints"
                          :select="select"
                          :selectDef="selectDef"
                          :totalCost="totalCost"
                          :totalCostDef="totalCostDef"
                />
                <div class="set" :class="{'set-show':menuShow}">
                    <div class="set-body" v-if="data !== null">
                        <div class="set-main" >
                            <div class="set-head">
                                <div class="set-head__title">
                                    {{l.configurator}}
                                    <span class="set-head__mob-logo">Qubius</span></div>
                                <a href="https://qubius.com" class="set-head__logo">
                                    <img src="./assets/logo.svg" alt="logo">
                                </a>
                                <div class="set-head__cross">
                                    <img @click="menuToggle()" src="./assets/icons/cross.svg" alt="cross">
                                </div>
                            </div>
                            <div class="set-part">
                                <div class="set-part__title">
                                    {{l.exterior}}
                                </div>
                                <div class="set-items">
                                    <div class="set-item set-item__ex">
                                        <div class="set-item__name">
                                            {{l.cladding}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'facing'"
                                                      :valueData="data['facing']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                                      :ex="true"
                                            />
                                            <div :class="showSubItem('facing', 0)">
                                                <Dropdown :haveImg="haveImg"
                                                          :valueName="'plasticMain'"
                                                          :valueData="data['plasticMain']"
                                                          :select="select"
                                                          @selectValue="selectValue"
                                                />
                                            </div>
                                            <div :class="showSubItem('facing', 1)">
                                                <Dropdown :haveImg="haveImg"
                                                          :valueName="'veneer'"
                                                          :valueData="data['veneer']"
                                                          :select="select"
                                                          @selectValue="selectValue"
                                                />
                                            </div>
                                            <div :class="showSubItem('facing', 2)">
                                                <DropdownColor
                                                        :valueName="'exterior'"
                                                        :select="select"
                                                        :color="color"
                                                        :dataColor="dataColor"
                                                        @selectValue="selectValue"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.frame}}
                                        </div>
                                        <div class="set-item__value">
                                            <DropdownColor
                                                    :valueName="'frame'"
                                                    :select="select"
                                                    :color="color"
                                                    :dataColor="dataColor"
                                                    @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.grillOut}}
                                        </div>
                                        <div class="set-item__value">
                                            <DropdownColor
                                                    :valueName="'grillOut'"
                                                    :select="select"
                                                    :color="color"
                                                    :dataColor="dataColor"
                                                    @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="set-part">
                                <div class="set-part__title">
                                    {{l.interiorMain}}
                                </div>
                                <div class="set-items">
                                    <div class="set-item set-item__ex">
                                        <div class="set-item__name">
                                            {{l.interior}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'interior'"
                                                      :valueData="data['interior']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                                      :ex="true"
                                            />
                                            <div :class="showSubItem('interior', 0)">
                                                <Dropdown :haveImg="haveImg"
                                                          :valueName="'cloth'"
                                                          :valueData="data['cloth']"
                                                          :select="select"
                                                          @selectValue="selectValue"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="set-item set-item__ex">
<!--                                <div class="set-item" :class="{'set-item_dis':select['interior'] === 1}">-->
                                        <div class="set-item__name">
                                            {{l.table}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'table'"
                                                      :valueData="data['table']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                                      :ex="true"
                                            />
                                            <div :class="showSubItem('table', 0)">
                                                <Dropdown :haveImg="haveImg"
                                                          :valueName="'plasticTable'"
                                                          :valueData="data['plasticTable']"
                                                          :select="select"
                                                          @selectValue="selectValue"
                                                />
                                            </div>
                                            <div :class="showSubItem('table', 1)">
                                                <DropdownColor
                                                        :valueName="'tableColor'"
                                                        :select="select"
                                                        :color="color"
                                                        :dataColor="dataColor"
                                                        @selectValue="selectValue"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.bracketTable}}
                                        </div>
                                        <div class="set-item__value">
                                            <DropdownColor
                                                    :valueName="'bracketTable'"
                                                    :select="select"
                                                    :color="color"
                                                    :dataColor="dataColor"
                                                    @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.chair}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'chair'"
                                                      :valueData="data['chair']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.doorstep}}
                                        </div>
                                        <div class="set-item__value">
                                            <DropdownColor
                                                    :valueName="'doorstep'"
                                                    :select="select"
                                                    :color="color"
                                                    :dataColor="dataColor"
                                                    @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.grillIn}}
                                        </div>
                                        <div class="set-item__value">
                                            <DropdownColor
                                                    :valueName="'grillIn'"
                                                    :select="select"
                                                    :color="color"
                                                    :dataColor="dataColor"
                                                    @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="set-part">
                                <div class="set-part__title">
                                    {{l.doorglass}}
                                </div>
                                <div class="set-items">
                                    <div class="set-item" :class="{'set-item_dis':+select['smartglass'] === 1}">
                                        <div class="set-item__name">
                                            {{l.glass}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'glass'"
                                                      :valueData="data['glass']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>
                                    <div class="set-item">
                                        <div class="set-item__name">
                                            {{l.door}}
                                        </div>
                                        <div class="set-item__value">
                                            <Dropdown :haveImg="haveImg"
                                                      :valueName="'doorlock'"
                                                      :valueData="data['doorlock']"
                                                      :select="select"
                                                      @selectValue="selectValue"
                                            />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="set-part set-part__last">
                                <div class="switch">
                                    <div class="switch-item">
                                        <div class="switch-check">
                                            <input v-model="select.charger" type="checkbox" :id="data.charger[1].id"
                                                   class="cbx hidden"/>
                                            <label :for="data.charger[1].id" class="lbl"></label>
                                        </div>
                                        <div class="switch-text" @click="clickOn(data.charger[1].id)">
                                            {{l.charger}}
                                        </div>
                                        <div class="switch-tip">
                                            <tippy
                                                    interactive
                                                    :animate-fill="false"
                                                    placement="bottom"

                                                    theme="light"
                                                    animation="fade"
                                                    arrow>
                                                <template v-slot:trigger>
                                                    <img src="./assets/icons/question.svg" alt="question">
                                                </template>
                                                <span>
                                                    {{l.chargerText}}
                                                </span>
                                            </tippy>
                                        </div>
                                        <div class="switch-cost">+ {{data.charger[1].cost}} ₽</div>
                                    </div>
                                    <div class="switch-item">
                                        <div class="switch-check">
                                            <input v-model="select.speak" type="checkbox" :id="data.speak[1].id"
                                                   class="cbx hidden"/>
                                            <label :for="data.speak[1].id" class="lbl"></label>
                                        </div>
                                        <div class="switch-text" @click="clickOn(data.speak[1].id)">
                                            {{l.speak}}
                                        </div>
                                        <div class="switch-tip">
                                            <tippy
                                                    interactive
                                                    :animate-fill="false"
                                                    placement="bottom"

                                                    theme="light"
                                                    animation="fade"
                                                    arrow>
                                                <template v-slot:trigger>
                                                    <img src="./assets/icons/question.svg" alt="question">
                                                </template>
                                                <span>
                                                    {{l.speakText}}
                                                </span>
                                            </tippy>
                                        </div>
                                        <div class="switch-cost">+ {{data.speak[1].cost}} ₽</div>
                                    </div>
                                    <div class="switch-item">
                                        <div class="switch-check">
                                            <input v-model="select.smartglass" type="checkbox" :id="data.smartglass[1].id"
                                                   class="cbx hidden"/>
                                            <label :for="data.smartglass[1].id" class="lbl"></label>
                                        </div>
                                        <div class="switch-text" @click="clickOn(data.smartglass[1].id)">
                                            Smart glass
                                        </div>
                                        <div class="switch-tip">
                                            <tippy
                                                    interactive
                                                    :animate-fill="false"
                                                    placement="bottom"

                                                    theme="light"
                                                    animation="fade"
                                                    arrow>
                                                <template v-slot:trigger>
                                                    <img src="./assets/icons/question.svg" alt="question">
                                                </template>
                                                <span>
                                                    {{l.smartglassText}}
                                                </span>
                                            </tippy>
                                        </div>
                                        <div class="switch-cost">+ {{data.smartglass[1].cost}} ₽</div>
                                    </div>
                                    <div class="switch-item">
                                        <div class="switch-empty"></div>
                                        <div class="switch-text switch-text_empty">
                                            {{l.hiddenRolls}}
                                        </div>
                                        <div class="switch-tip">
                                            <tippy
                                                    interactive
                                                    :animate-fill="false"
                                                    placement="bottom"

                                                    theme="light"
                                                    animation="fade"
                                                    arrow>
                                                <template v-slot:trigger>
                                                    <img src="./assets/icons/question.svg" alt="question">
                                                </template>
                                                <span>
                                                    {{l.hiddenRollsText}}
                                                </span>
                                            </tippy>
                                        </div>
                                    </div>
                                    <div class="switch-item">
                                        <div class="switch-empty"></div>
                                        <div class="switch-text switch-text_empty">
                                            {{l.magneticAdjacency}}
                                        </div>
                                        <div class="switch-tip">
                                            <tippy
                                                    interactive
                                                    :animate-fill="false"
                                                    placement="bottom"

                                                    theme="light"
                                                    animation="fade"
                                                    arrow>
                                                <template v-slot:trigger>
                                                    <img src="./assets/icons/question.svg" alt="question">
                                                </template>
                                                <span>
                                                    {{l.magneticAdjacencyText}}
                                                </span>
                                            </tippy>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set-part__buy">
                            <div class="buy-cost-box">
                                <div class="buy-cost">
                                    {{l.cost}}: {{totalCost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
                                </div>
                                <div class="buy-add">
                                    {{l.add}}: {{(+totalCost - +totalCostDef).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
                                </div>
                            </div>
                            <button class="buy-btn" data-toggle="modal" data-target="#buyModal">
                                {{l.buy}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="set-part__buy set-part__buy_mob" v-if="data !== null">
                    <div class="buy-cost-box">
                        <div class="buy-cost">
                            {{l.cost}}: {{totalCost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
                        </div>
                        <div class="buy-add">
                            {{l.add}}: {{(+totalCost - +totalCostDef).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} ₽
                        </div>
                    </div>
                    <button class="buy-btn" data-toggle="modal" data-target="#buyModal">
                        {{l.buy}}
                    </button>
                </div>
            </div>
        </v-app>
    </div>
</template>

<script>
import "tippy.js/themes/light.css";
import "tippy.js/themes/light-border.css";
import "tippy.js/themes/google.css";
import "tippy.js/themes/translucent.css";
import Vue from "vue";
import VueTippy, { TippyComponent } from "vue-tippy"

import { catalog } from '../public/catalogNew'
import Dev from './components/Dev'
import Dropdown from './components/Dropdown'
import DropdownColor from './components/DropdownColor'
import BuyModal from './components/BuyModal'

export default {
    name: 'App',
    components: {
        "tippy": TippyComponent,
        Dev,
        Dropdown,
        DropdownColor,
        BuyModal
    },
    data: () => ({
        color: [
            { name: 'Ncs s 5020-R80B', value: '71 90 114' },
            { name: 'Ncs s 6020-R80B', value: '39 65 97' },
            { name: 'Ncs s 0520-R80B', value: '218 237 249' },
            { name: 'Ncs s 1020-R90B', value: '188 216 229' },
            { name: 'Ncs s 3010-R90B', value: '134 150 162' },
            { name: 'Ncs s 1500-N'   , value: '224 223 222' },
            { name: 'Ncs s 3000-N'   , value: '192 191 190' },
            { name: 'Ncs s 5500-N'   , value: '133 133 131' },
            { name: 'Ncs s 7502-B'   , value: '41 45 47' },
            { name: 'Ncs s 1505-G90Y', value: '223 219 192' },
            { name: 'Ncs s 0550-G80Y', value: '248 235 106' },
            { name: 'Ncs s 3030-G70Y', value: '154 156 72' },
            { name: 'Ncs s 5020-B90G', value: '57 108 83' },
            { name: 'Ncs s 5030-G'   , value: '0 98 62' },
            { name: 'Ncs s 1050-G70Y', value: '229 228 77' },
            { name: 'Ncs s 2020-G40Y', value: '180 194 139' },
            { name: 'Ncs s 3010-R60B', value: '157 155 169' },
            { name: 'Ncs s 3010-R40B', value: '163 146 156' },
            { name: 'Ncs s 6030-R40B', value: '59 0 65' },
            { name: 'Ncs s 7020-R50B', value: '39 0 45' },
            { name: 'Ncs s 5030-R30B', value: '109 49 80' },
            { name: 'Ncs s 3560-R'	 , value: '109 0 26' },
            { name: 'Ncs s 3050-R'	 , value: '164 57 66' },
            { name: 'Ncs s 3020-B60G', value: '114 170 156' },
            { name: 'Ncs s 6010-R70B', value: '99 101 113' },
            { name: 'Ncs s 4030-Y80R', value: '150 81 70' },
            { name: 'Ncs s 3010-Y90R', value: '166 141 134' },
            { name: 'Ncs s 0540-G70Y', value: '244 239 135' },
            { name: 'Ncs s 2050-Y80R', value: '228 103 87' }
        ],
        select: {
            //пункты
            glass: 0,
            cloth: 8,
            veneer: 0,
            plasticMain: 0,
            plasticTable: 0,
            chair: 0,
            doorlock: 0,
            // sub
            facing: 2,
            interior: 0,
            table: 1,
            //цвета
            frame: 8,
            grillOut: 8,
            grillIn: 8,
            bracketTable: 8,
            doorstep: 8,
            exterior: 1,
            tableColor: 1,
            //булевые
            speak: false,
            smartglass: false,
            charger: false
        },
        selectDef: {},
        haveImg: [
            'cloth',
            'veneer',
            'plasticMain',
            'plasticTable'
        ],
        colorPoints: [
            'frame',
            'grillOut',
            'grillIn',
            'bracketTable',
            'doorstep',
            'exterior',
            'tableColor'
        ],

        dataColor: {
            exterior: {
                main: 'exterior_main_RGB',
                r: 'exterior_main_R',
                g: 'exterior_main_G',
                b: 'exterior_main_B'
            },
            frame: {
                main: 'frame_RGB',
                r: 'frame_R',
                g: 'frame_G',
                b: 'frame_B'
            },
            doorstep: {
                main: 'doorstep_RGB',
                r: 'doorstep_R',
                g: 'doorstep_G',
                b: 'doorstep_B'
            },
            bracketTable: {
                main: 'table_support_RGB',
                r: 'table_support_R',
                g: 'table_support_G',
                b: 'table_support_B'
            },
            grillIn: {
                main: 'soft_grill_RGB',
                r: 'soft_grill_R',
                g: 'soft_grill_G',
                b: 'soft_grill_B'
            },
            grillOut: {
                main: 'grill_RGB',
                r: 'grill_R',
                g: 'grill_G',
                b: 'grill_B'
            },
            tableColor: {
                main: 'table_RGB',
                r: 'table_R',
                g: 'table_G',
                b: 'table_B'
            }
        },
        data: null,
        points: null,
        menuShow: false,
        mainCost: 0,
        save: {
            tableColor: 1,
        },
        l: null
    }),
    watch: {
        select: {
            handler(val){
                if (+val['smartglass'] === 1) {
                    this.select['glass'] = 0
                }
            },
            deep: true
        }
    },
    methods: {
        clickOn (id) {
            $(`#${id}`).click()
        },
        menuToggle (i = 1) {
            this.menuShow = !this.menuShow
            if (i === 0) {
                this.menuShow = false
            }
        },
        selectValue (value, i, color = null) {
            if ( value === 'interior' && i === 1) {
                this.select['table'] = 2
            }

            if (value === 'facing' && i === 0) this.select['plasticMain'] = 0
            if (value === 'facing' && i === 1) this.select['veneer'] = 0
            if (value === 'facing' && i === 2) this.select['exterior'] = 1

            if (value === 'interior' && i === 0) this.select['cloth'] = 8

            if (value === 'table' && i === 1) this.select['plasticTable'] = 0
            if (value === 'table' && i === 2) this.select['tableColor'] = 1

            this.select[value] = i

            if (color !== null) {
                setTimeout(() => {
                    document.getElementById(color).click()
                }, 2)
            }
        },
        componentToHex(c) {
            let hex = c.toString(16);
            return hex.length === 1 ? "0" + hex : hex;
        },
        rgbToHex(value) {
            let newValue = value.split(' ')
            return "#" + ((1 << 24) + (+this.componentToHex(newValue[0]) << 16)
                + (+this.componentToHex(newValue[1]) << 8)
                + +this.componentToHex(newValue[2])).toString(16).slice(1);
        },
        async getCatalogNew () {
            let catalogNew = await catalog()
            this.data = catalogNew.catalog
            this.points = catalogNew.points
            this.mainCost = catalogNew.general.mainCost
            this.l = catalogNew.general.local
            document.title = catalogNew.general.local.title
        },
        showSubItem (className, i) {
            return ([{'d-none':this.select[className] !== i}, 'set-item__value_sub'])
        },
        dropToDef () {
            this.select = {
                ...this.selectDef
            }
        }
    },
    computed: {
        totalCost: ({ data, select, points }) => {
            let cost = 0
            if (points !== null) {
                points.forEach((item) => {
                    cost += data[item][+select[item]]['cost']
                })
            }
            return cost
        },
        totalCostDef: ({ data, selectDef, points }) => {
            let cost = 0
            if (points !== null) {
                points.forEach((item) => {
                    cost += data[item][+selectDef[item]]['cost']
                })
            }
            return cost
        }
    },
    mounted() {
        this.selectDef = {
            ...this.select
        }
        this.getCatalogNew()
    }
}
</script>
<style lang="scss">

    body {
        padding: 0 !important;
    }
    :focus {
        outline: none;
    }

    button:focus {
        outline: none;
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #216B9E;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }

    .lbl {
        position: relative;
        display: block;
        height: 8px;
        width: 18px;
        margin: 0;
        background: #898989;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .lbl:after {
        position: absolute;
        left: -2px;
        top: -2px;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        background: #FFF;
        border: 1px solid #8F979D;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        content: '';
        transition: all 0.3s ease;
    }

    .cbx:checked ~ label { background: #216B9E; }

    .cbx:checked ~ label:after {
        left: 8px;
        border: 1px solid #216B9E;
    }

    .cbx:disabled ~ label {
        background: #d5d5d5;
        pointer-events: none;
    }

    .cbx:disabled ~ label:after { background: #bcbdbc; }

    .hidden { display: none; }

    .v-application {
        color: #FFFFFF!important;
        font-family: 'Source Sans Pro', sans-serif!important;
        font-weight: 300;
        font-size: 18px;
    }

    .text-load {
        display: none;
    }

    .scene {
        background: #FFFFFF;
        width: 70%;
        height: 100%;
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
    }
    .soul {
        position: relative;
        height: 100%;
    }
    .set, .set-body {
        width: 580px;
    }
    .set {
        background: #253645;
        position: absolute;
        transition: .35s;
        top: 0;
        right: 0;
        /*width: 560px;*/
        overflow: hidden;
        z-index: 15;
    }
    .set-show .set-body {
    }
    .set-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        border-radius: 12px 0 0 12px;
        min-height: 100vh;
        width: 100%;
    }

    .set-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 32px;
        border-bottom: rgba(143, 151, 157, 0.5) 2px solid;
    }
    .set-head__title {
        font-size: 22px;
    }
    .set-head__logo {

    }
    .set-head__mob-logo {
        display: none;
    }
    .set-part {
        margin: 30px 0 30px 32px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(143, 151, 157, 0.2);
    }
    .set-part__last {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border: none !important;
    }
    .set-part__title {
        font-size: 22px;
        margin: 0 0 20px;
    }
    .set-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .35s;
        &:not(:last-child) {
            margin: 0 0 12px;
        }
    }
    .set-item_dis {
        opacity: .35;
        pointer-events: none;
    }
    .set-item__value_main {
        /*margin: 0 25px 0 0;*/
    }
    .set-item__value_sub {
        margin: 0 0 0 25px;
    }

    .set-items {

    }
    .set-item__name {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
    .set-item__value {
        display: flex;
        align-items: center;
    }
    .dropdown-color {
        padding: 20px;
        border: none;
        border-radius: 2px;
    }
    .dropdown-color__body{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 4px;
    }
    .dropdown-color-item {
        width: 24px;
        height: 24px;
        border-radius: 1px;
        border: solid 2px #C7CBCE;
        transition: .1s;
        &:hover {
            border-color: transparent;
            box-shadow: 0 0 0 transparent;
        }
    }
    .dropdown-color-item_active {
        border: solid 2px #FFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
    }
    .dropdown-toggle-icon {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 1px;
        border: solid 2px #FFFFFF;
        padding: 0;
        /*margin: 0 30px 0 0;*/
        transition: .1s;
        cursor: pointer;
        &:after {
            display: none;
        }
        &:hover {
            border-color: #C7CBCE;
        }
    }
    .dropdown-toggle-icon__body {
        margin: 0 30px 0 0;
        &:after {
            display: none;
        }
        &:hover {
            border-color: #C7CBCE;
        }
    }
    .set-dropdown-toggle__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        /*margin: 0 30px 0 0;*/
        cursor: pointer;
    }
    .dropdown__arrow {
        padding: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .set-dropdown-menu {
        padding: 16px 0;
        min-width: initial;
        .dropdown-texture {
            width: 26px;
            height: 26px;
            border: 2px solid #BBC5CB;
            border-radius: 1px;
            margin: 0 12px 0 0;
        }
        .dropdown-item {
            min-height: 26px;
            padding: 4px 20px;
            transition: .2s;
            background: transparent;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            &:hover {
                background: #C8DEF2;
            }
        }
        .dropdown-item_active {
            background: #E7F3FA;
        }
        .dropdown-item__main {
            display: flex;
            margin: 0 24px 0 0;
            align-items: center;
        }
        .dropdown-item__name {
            line-height: 14px;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #0B1218;
            display: flex;
            align-items: center;
        }
        .dropdown-item__cost {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #61AEDF;
            display: flex;
            align-items: center;
        }
    }
    .set-dropdown-toggle {
        padding: 0;
        margin: 0 30px 0 0;
        transition: .1s;
        /*height: 24px;*/
        &:after {
            display: none;
        }
        .dropdown-toggle-icon {
            margin: 0;
        }
    }

    .switch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 6px;
        grid-row-gap: 14px;
    }
    .switch-item {
        display: flex;
        align-items: center;
    }
    .switch-check {
        padding: 0 12px 0 0;
    }
    .switch-text {
        margin: 0 8px 0 0;
        cursor: pointer;
        font-size: 14px;
    }
    .switch-tip {
        margin: 0 8px 0 0;
        cursor: pointer;
        img {
            width: 10px;
            height: 10px;
        }
        span {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .switch-cost {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #61AEDF;
    }
    .switch-empty {
        width: 30px;
    }
    .switch-text_empty {
        cursor: default;
    }
    .header {
        display: flex;
        position: fixed;
        top: 32px;
        left: 32px;
        justify-content: space-between;
        z-index: 11;
    }
    .header-link {
        display: flex;
        align-items: center;
        text-decoration: none !important;
    }
    .header-back {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header-item {
        display: flex;
        align-items: center;
    }
    .header-line {
        width: 40px;
        height: 1px;
        background: #FFF;
        margin: 0 24px 0 0;
    }
    .header-borgar {
        padding: 18px;
        cursor: pointer;
        display: none;
    }
    /*.set {*/
    /*    display: none;*/
    /*}*/
    .set-part__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid rgba(143, 151, 157, 0.5);
        padding: 32px;
        background: #253645;
        border-bottom-left-radius: 12px;
    }
    .buy-cost-box {

    }
    .buy-cost {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
    }
    .buy-add {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #61AEDF;
        font-weight: normal;
    }
    .buy-btn {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #0B1218;
        padding: 0 50px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .15s;
        border: 1px solid transparent;
        &:hover {
            background: transparent;
            border: 1px solid #FFF;
            color: #FFF;
        }
    }
    .set-head__cross {
        display: none;
    }
    .btn-box {
        position: fixed;
        bottom: 40px;
        left: 40px;
        display: flex;
        z-index: 14;
        justify-content: center;
    }
    .btn-box__item {
        width: 56px;
        height: 56px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2),
        0 4px 5px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.14);
        background: #216B9E;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
        cursor: pointer;
        &:not(:last-child) {
            margin: 0 32px 0 0;
        }
        &:hover {
            background: #2E5E8A;
        }
    }



    .m-buy {
        .modal-content {
            background: #216B9E;
            border: none;
        }
        .modal-dialog {
            /*flex-direction: column;*/
        }
        @media (min-width: 992px) {
            .modal-dialog {
                min-width: 580px;
            }
        }
    }
    .m-buy-cross {
        display: none;
    }

    .m-buy-body {
        margin: 50px;
        display: flex;
        flex-direction: column;
    }
    .m-buy-head {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
        margin: 0 0 38px 0;
    }
    .m-buy-head_conf {
        margin: 0 0 10px 0;
    }
    .m-buy-head_done {
        text-align: center;
        margin: 0!important;
    }
    .m-buy-input-items {
        margin: 0 0 55px 0;
    }
    .m-buy-input-item {

    }
    .m-buy-send {
        position: relative;
        /*margin: 0 0 20px 0;*/
        height: 50px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #0B1218;
        background: #FFFFFF;
        border-radius: 2px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
            background: transparent;
            border: 1px solid #FFF;
            color: #FFF;
        }
    }
    .m-buy-error {
        font-size: 13px;
        color: #ff7a64;
        font-weight: normal;
    }
    .m-buy-error_main {
        height: 25px;
    }

    .m-buy-loader {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.51);
    }
    .m-buy-loader_show {
        background: transparent;
        border: 1px solid #FFF;
        color: #FFF;
        pointer-events: none;
        .m-buy-loader {
            display: flex;
        }
    }
    .m-buy-epitaph {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #61AEDF;
        margin: 12px 0 18px 0;
    }
    .m-buy-conf-btn {
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
        border-bottom: 1px #FFF dashed;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        transition: .1s;
        &:hover {
            opacity: .8;
        }
    }
    .m-buy-conf-items {
        margin: 0 0 20px;
    }
    .m-buy-conf-item {
        display: flex;
        align-items: flex-end;
        &:not(:last-child) {
            margin: 0 0 10px;
        }
    }
    .m-buy-conf-name {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;

        color: #FFFFFF;
        margin: 0 10px 0 0;
    }
    .m-buy-conf-value {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        opacity: 0.5;
    }
    .m-buy-cost-box {
        margin: 0 0 30px;
    }
    .m-buy-cost {
        font-weight: 300;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .m-buy-add {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #61AEDF;
    }


    .m-buy-textarea {
        position: relative;
        textarea {
            width: 100%;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            outline: none !important;
            border-bottom: 1px solid #235072;
            font-weight: 300;
            color: #FFF;
            &::placeholder {
                color: #90B5CF;
                font-size: 18px;
                font-weight: 300;
            }
        }
        textarea:focus {
            outline:none;
        }
        label {
            color: #90B5CF;
            font-size: 18px;
            font-weight: 300;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        textarea:focus ~ label, textarea:valid ~ label {
            top: -20px;
            font-size: 14px;
        }
        .bar {
            position:relative;
            display: block;
            width: 100%;
        }
        .bar:before, .bar:after {
            content: '';
            height: 1px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #FFF;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%;
        }
        textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
            width: 50%;
        }
    }



    .m-buy-input {
        height: 70px;
        position: relative;
        margin-bottom: 32px;
        input {
            width: 100%;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            border: none;
            border-bottom: 1px solid #235072 !important;

        }
        input:focus {
            outline:none;
        }
        label {
            color: #90B5CF;
            font-size: 18px;
            font-weight: 300;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        input:focus ~ label, input:valid ~ label {
            top: -20px;
            font-size: 14px;
        }
        .bar {
            position:relative;
            display: block;
            width: 100%;
        }
        .bar:before, .bar:after {
            content: '';
            height: 1px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #FFF;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%;
        }
        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width: 50%;
        }
    }




    /*.set, .set-body {*/
    /*    width: 600px;*/
    /*}*/

    @media (max-width: 1400px) {
        /*.set, .set-body {*/
        /*    width: 500px;*/
        /*}*/
    }
    /*@media (max-width: 1200px) {*/
    /*    .scene {*/
    /*        width: 60%;*/
    /*    }*/
    /*}*/
    @media (max-width: 1200px) {
        .switch {
            grid-template-columns: 1fr;
        }
        .set-head__cross {
            display: flex;
        }
        .set-head__logo {
            display: none;
        }
        .header-borgar {
            display: flex;
        }
        .buy-cost {
            font-size: 24px;
        }
        .buy-btn {
            padding: 0 30px;
        }
        .set-part__buy {
            padding: 20px;
        }
        .set:not(.set-show) {
            width: 0 !important;
        }
        .set-head__mob-logo {
            display: initial;
        }
        .set-head {
            padding: 10px 16px;
        }
        .header {
            display: flex;
            position: fixed;
            top: 0;
            left: 18px;
            right: 0;
        }
        .scene {
            width: 100%;
        }
        .set, .set-body {
            width: 400px;
        }
        .set-body {
            border-radius: 0;
        }
        .set-part__title {
            font-size: 20px;
        }
        .set-item__name {
            font-size: 16px;
        }
        .set-part__title {
            margin: 0 0 16px;
        }
        .set-item:not(:last-child) {
            margin: 0 0 10px;
        }
        .set-part {
            margin: 25px 0 25px 0;
            padding-right: 16px;
            padding-left: 16px;
        }
        .set-part:not(:last-child) {
            padding-bottom: 18px;
            border-bottom: 1px solid rgba(143, 151, 157, 0.2);
        }
    }
    @media (max-width: 768px) {
        .btn-box {
            right: 0;
            left: 0;
            bottom: 65px;
        }
        .btn-box__item {
            width: 30px;
            height: 30px;
            background: transparent !important;
            box-shadow: none;
        }
        .set-main {
            padding-bottom: 57px;
        }
        .set-part__buy {
            display: none;
            border-radius: 0;
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 8px 16px;
        }
        .set-part__buy_mob {
            display: flex;
            z-index: 20;
        }
        .buy-cost {
            font-size: 14px;
        }
        .buy-btn {
            padding: 0 10px;
            height: 32px;
        }
        .set, .set-body {
            width: 300px;
        }
        .set-part__title {
            font-size: 18px;
        }
        .set-item__name {
            font-size: 14px;
        }
        .set-part__title {
            margin: 0 0 16px;
        }
        .set-item:not(:last-child) {
            margin: 0 0 12px;
        }
        .set-dropdown-toggle__text {
            font-size: 12px;
        }
        .set-head__title {
            font-size: 18px;
        }
        .set-item__ex {
            flex-direction: column;
            align-items: flex-start;
            .set-item__value {
                width: 100%;
                justify-content: space-between;
                .set-dropdown-toggle__text {
                    opacity: .5;
                    font-weight: normal;
                }
            }
        }

        .set-dropdown-toggle {
            margin: 0;
            .dropdown-toggle-icon {
                margin: 0 30px 0 0;
            }
        }


        .dropdown-toggle-icon__body {
            margin: 0;
            .dropdown-toggle-icon {
                margin: 0 30px 0 0;
            }
        }


        .set-dropdown-toggle__text {
            margin: 0 30px 0 0;
        }
        .set-dropdown-menu {
            max-width: 250px;
            padding: 10px 0;
            .dropdown-item {
                padding: 4px 10px;
            }
            .dropdown-item__main {
                width: 200px;
                white-space: normal;
            }
        }
        .dropdown-color {
            padding: 5px;
        }
        .set-item__value {
            min-height: 24px;
        }


    }
    @media (max-width: 768px) {
        .m-buy .modal-content {
            margin-top: 40px;
        }
        .m-buy-cross {
            display: initial;
            position: absolute;
            top: -35px;
            right: 10px;
        }
        .m-buy-body {
            margin: 20px;
        }
        .m-buy-input-items {
            margin: 0 0 30px;
        }
        .m-buy-input {
            &:not(:last-child) {
                margin: 0 0 22px;
            }
        }
        .m-buy-send {
            font-weight: normal;
            font-size: 14px;
        }
        .m-buy-head {
            font-size: 22px;
            line-height: 30px;
            margin: 0 0 30px;
        }
        .m-buy-head_conf {
            margin: 0 0 20px
        }
        .m-buy-epitaph {
            text-align: left;
        }
    }















        /*dev*/

    .modal-content {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dev-items {
        z-index: 1100;
        max-width: 600px;
        background: #000000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        max-height: 100%;
        overflow: auto;
        font-family: "monospace";
        padding: 30px 0 30px 50px;
    }
    .dev-item {
        &:not(:last-child) {
            margin: 0 0 30px;
        }
    }
    .dev-title {
        font-size: 24px;
    }
    .dev-grid-row__header {
        color: #9b9b9b;
        font-size: 12px;
    }
    .dev-grid-row {
        display: grid;
        font-size: 14px;
        grid-template-columns: 80px 1fr 1fr 120px
    }
    .dev-grid-row_active {
        background: #3e3e3e;
    }
    .dev-grid-row_def {
        border: #66c1d0ab 1px solid;
    }
    .dev-open {
        font-family: "monospace";
        border-radius: 0;
        background: #000 !important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }



</style>
